@import url(../css/reset.css);
body{
    background-color: black;
    color: white;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 605px;
    border: 1px solid #33A8DB;
    background: url(../images/banner.png),linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6));
    text-align: center;
}

.banner-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 510px;
    height: 393px;
    gap: 30px;
}

.logo{
    margin-bottom: 56px;
    width: 268px;
    height: 268px;
}

h1{
    font-family: "Raleway";
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    color: transparent;
    background-clip:text;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
}

p {
    font-family: "Raleway";
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    
}

button{
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 900;
    color: #31A8DD;
    background-color: transparent;
    width: 326px;
    height: 56px;
    border: solid 2px ;
    margin-bottom: 15px;
    padding: 20px;
}

#course-content {
    text-align: center;
    margin: auto;
    margin-top: 118px;
    margin-bottom: 90px;
    width: 792px;
    height: 325px;
}

#course-content > h2 {
    font-family: "Raleway";
    font-size: 32px;
    font-weight: 700;
    color: #33A8DB;
    text-transform: uppercase;
    margin-bottom: 24px;
}

#course-content > p {
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
}

.modules-list {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.module {
    font-family: "Raleway";
    border: 1px solid #33A8DB;
    border-radius: 57px;
    padding: 16px;
    width: 535px;
    height: 51px;
    background-color: #252525;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
}

.module > span {
    color: #33A8DB;
}

#transform-world > p {
    position: relative;
    width: 244px;
    height: 141px;
    font-family: "Raleway";
    font-weight: 900;
    font-size: 40px;
    line-height: 46.96px;
    top: 111px;
    left: 198px;
    text-transform: lowercase;
    filter: drop-shadow(3px 2px rgba(51, 168, 219, 1));
}

#transform-world {
    height: 363px;
    background: url(../images/woman-code.png) center/cover no-repeat fixed ;
}

#professional-challenges {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#professional-challenges >h2 {
    width: 746px;
    height: 76px;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 2rem;
    line-height: 37.59px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    margin-top: 76px;
    margin-bottom: 2rem;
    color: rgba(51, 168, 219, 1)
}

#professional-challenges > img{
    margin-bottom: 40px;
}

#professional-challenges > p {
    width: 792px;
    height: 76px;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: center;
    margin-bottom: 91px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 170px;
    border: 1px solid #33A8DB;
}

footer > p {
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: center;
}

footer a {
    color: #33A8DB;
    font-weight: bold;
    text-decoration: none;
}